// Colores
$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);
$white: hsl(0, 0%, 100%);

// Fuente
$fontFamily: 'Kumbh Sans', sans-serif;

// Media Queries
$mobile: 375px;
$desktop: 1044px;

@mixin telefono{
    @media only screen and (min-width: $mobile) {
        @content;
    }
}

@mixin desktop{
    @media only screen and (min-width: $desktop) {
        @content;
    }
}